<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/universite</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
         <property name="show_sql">true</property> <!-- pour afficher les requestes qu'il fait sur mySQL -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="com.inti.Utilisateur"/>
        <mapping class="com.inti.UtilisateurDetails"/>
        <mapping class="com.inti.servlet.PrincipaleServlet"/>
        <mapping class="com.inti.Commande"/>
        <mapping class="com.inti.Role"/>
        <mapping class="com.inti.UAbonne"/>
        <mapping class="com.inti.UVip"/>
    </session-factory>
</hibernate-configuration>
